{% extends 'base.html' %}

{% block title %}OCD Page{% endblock %}

{% block content %}
{% load static %}
  <!-- Intro section -->
  <section class="flex flex-row">
    <div class="flex flex-col items-center border border-blue-500">
      <header class="text-center font-extrabold text-4xl mt-10">Obsessive-<span class="text-purple-500">Compulsive </span>Disorder (OCD)</header>
      <header class="text-center font-extrabold text-2xl mt-5">The most misunderstood anxiety disorder.</header>
      <div class="flex flex-col items-center justify-center mt-16">
        <header class="text-center font-extrabold text-3xl mt-1">What is OCD?</header>
        <p class="w-3/5 text-center py-3 mt-3 text-lg">
          OCD is a type of anxiety disorder characterized by the presence of disturbing intrusive and unwanted thoughts, 
          images, or impulses that cause significant anxiety and compulsions. Intrusive thoughts and images can sometimes 
          be referred to as obsessions. We will be using obsessions and intrusive thoughts interchangeably.
        </p>
      </div>
      <!-- <img class="w-20 mt-16 rounded-full" src="{% static 'images/exited_brain.jpeg' %}" alt="Description"> -->
      <p class="w-3/5 text-center py-3 mt-3 text-lg">
        Intrusive thoughts are distressing thoughts that come to mind without conscious control and are almost always 
        inconsistent with a person’s values or beliefs.Compulsions are repetitive behaviors or mental acts that an 
        individual feels compelled to perform to reduce the anxiety caused by disturbing intrusive thoughts. 
        Compulsions can be physical, mental, or both. More on this later. These intrusive thoughts and compulsions 
        can interfere with daily activities, cause distress, and impair the persons functioning. That was a lot to unpack. 
        Let us first see the main OCD thoughts and compulsions.
      </p>
    </div>
  </section>

  <!-- OCD section -->
  <section class="flex border border-red-500">
    <!-- left -->
    <div class="w-1/2 flex justify-center">
      <div class="bg-white dark:bg-cyan-900 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-3xl mt-1">Main OCD <span class="text-purple-500">Intrusive</span> Thoughts</header>
        <div class="text-center">
          <p class="text-center mt-5 text-lg">
            Some of the main OCD intrusive thoughts include :
          </p>
          <li>Excessive fear of germs, dirt, and other contaminants</li>
          <li>Horrific thoughts or images related to harming oneself or others</li>
          <li>Fear of losing control of oneself or acting on an impulse that can lead to harm</li>
          <p class="text-center mt-5 text-lg">
            These intrusive thoughts are extremely disturbing to OCD sufferers; this leads them to do 
            rituals or compulsions to reduce their anxiety or find relief from their thoughts.
          </p>
        </div>
      </div>
    </div>
    <!-- Right -->
    <div class="w-1/2 flex justify-center">
      <div class="bg-white dark:bg-cyan-900 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-3xl mt-1">Main OCD <span class="text-purple-500">Compulsions</span></header>
        <div class="text-center">
          <p class="text-center mt-5 text-lg">
            Compulsions are a response that sufferers have toward their thoughts. Some of the common compulsions they have include :
          </p>
          <li>Hand-washing until your skin becomes dry or raw</li>
          <li>Checking doors repeatedly to make sure they’re locked</li>
          <li>Organizing or arranging things orderly and symmetrical</li>
          <li>Counting in certain patterns</li>
          <p class="text-center mt-5 text-lg">
            As you have probably noticed by now, these types of OCD thoughts and compulsions are the stereotype we have about OCD sufferers. 
            Another observation would be that all of these compulsions are physical. Compulsions are defined as being physical, mental, or both.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Notice -->
  <section class="flex flex-row justify-center">
    <div class="flex justify-center">
      <div class="bg-white dark:bg-cyan-900 w-[370px] md:w-[500px] xl:w-4/5 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <p class="text-center mt-5 text-lg">
          OCD is not a cute hand-washing or organizing disorder. OCD is a serious mental health disorder that causes many sufferers 
          distress and life impairment. Although you might have a set stereotype that OCD sufferers wash their hands excessively 
          or organize things constantly, there is more to it than that. Let us explore OCD with mental compulsions called pure obsessional OCD.
        </p>
      </div>
      <div class="bg-white dark:bg-cyan-900 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-3xl mt-1">Pure <span class="text-purple-500">Obsessional</span> OCD (Pure-O OCD)</header>
        <div class="text-center">
          <p class="text-center mt-5 text-lg">
            Pure-O OCD is a subtype of OCD characterized by mental compulsions without the more visible physical compulsions 
            often associated with OCD. The term pure refers to the absence of outward compulsive behaviors, such as hand-washing 
            or checking, that are commonly associated with OCD.
          </p>
          <p class="text-center mt-5 text-lg">
            In Pure-O OCD, individuals experience intrusive and distressing thoughts or mental images, which are often contrary 
            to their values, beliefs, and desires. These thoughts can be related to various topics or themes (More on themes later). 
            Let us explore some Pure-O OCD intrusive thoughts and compulsions.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Second OCD section -->
  <section class="flex border border-red-500">
    <!-- left -->
    <div class="w-1/2 flex justify-center">
      <div class="bg-white dark:bg-cyan-900 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-3xl mt-1">Pure-O OCD <span class="text-purple-500">Intrusive</span> Thoughts</header>
        <div class="text-center">
          <p class="text-center mt-5 text-lg">
            Some of the common Pure-O OCD intrusive thoughts include:
          </p>
          <li>Fear of harming oneself or others, such as thoughts of intentionally hurting a loved one</li>
          <li>Fear of committing a sin or displeasing God, such as thoughts of blasphemy, sacrilege, or doubting one’s faith.</li>
          <li>Unwanted or taboo sexual thoughts</li>
          <li>Counting in certain patterns</li>
          <p class="text-center mt-5 text-lg">
            As you have probably noticed by now, these types of OCD thoughts and compulsions are the stereotype we have about OCD sufferers. 
            Another observation would be that all of these compulsions are physical. Compulsions are defined as being physical, mental, or both.
          </p>
        </div>
      </div>
    </div>
    <!-- Right -->
    <div class="w-1/2 flex justify-center">
      <div class="bg-white dark:bg-cyan-900 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-3xl mt-1">Pure-O OCD <span class="text-purple-500">Compulsions</span></header>
        <div class="text-center">
          <p class="text-center mt-5 text-lg">
            Some Pure-O OCD compulsions include:
          </p>
          <li>Mental Checking: Constantly checking for reassurance or evidence to disprove an obsession or intrusive thought.</li>
          <li>Mental Reassurance-Seeking: Seeking reassurance from others or researching online to relieve anxiety or uncertainty about obsessions.</li>
          <li>Mental Canceling: Trying to undo or erase intrusive thoughts with opposite thoughts or images.</li>
          <li>Rumination: Obsessive rumination regarding the content of the intrusive thought and the fear of it returning.</li>
        </div>
      </div>
    </div>
  </section>

  <!-- OCD Themes section -->
  <section class="border-2 border-red-500">
    <header class="text-center font-extrabold text-4xl mt-20">Themes</header>
    <!-- Carousel Tutorial -->
    <!-- https://www.youtube.com/watch?v=TyHsJlvedOg&t=460s -->
    <div class="border border-green-500">
      <div id="default-carousel" class="relative" data-carousel="static">
        <div class="overflow-hidden relative rounded-lg sm:h-64 xl:h-80 2xl:h-96">

          <!-- Block 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>

          <!-- Block 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>
          
          <!-- Block 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="https://flowbite.com/docs/images/carousel/carousel-3.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>

          <!-- Block 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>
        
          <!-- Block 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="https://flowbite.com/docs/images/carousel/carousel-3.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>

          <!-- Block 6 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
          </div>
      
        </div>
          
        <!-- Dots -->
        <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="2"></button>
        </div>
        
        <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30  group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="hidden">Anterior</span>
            </span>
        </button>

        <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 0 group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="hidden">Siguiente</span>
            </span>
        </button>

      </div>
    </div>
      <!-- <p class="mt-5">Este slide carousel se ha hecho con Tailwindcss</p> -->
      <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
  </section>

  <!-- Notice section -->
  <section class="flex flex-row justify-center">
    <div class="flex justify-center">
      <div class="bg-white dark:bg-cyan-900 w-[370px] md:w-[500px] xl:w-4/5 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-4xl mt-1">Important <span class="text-purple-500">Note!</span></header>
        <p class="text-center mt-5 text-lg">
          If you don't suffer from OCD or Depersonalization Derealization Disorder(DPDR), staying away from those channels is recommended. 
          Reading up on it will not be beneficial for non-sufferers. OCD is characterized by extremely disturbing thoughts and mental or 
          physical compulsions. DPDR is characterized by an extreme disconnection from oneself. Please take note before entering in those channels.
        </p>
        <div class="mt-14 flex justify-center">
          <img loading="lazy" width="100" height="100" src="{% static 'images/warning.png' %}" alt="check">
        </div>
      </div>
    </div>
  </section>

  <!-- OCD Treatments section -->
  <section class="flex flex-row ">
    <!-- left -->
    <div class="flex justify-center border border-blue-500">
      <div class="bg-white dark:bg-cyan-900 w-[370px] md:w-[500px] xl:w-4/5 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
        <header class="text-center font-extrabold text-4xl mt-1">OCD <span class="text-purple-500">Treatments</span></header>
        <p class="text-center mt-5 text-lg">
          Research has shown that Cognitive Behavioral Therapy (CBT), Exposure and Response Prevention (ERP), Acceptance and Commitment Therapy (ACT), 
          self-help therapy, as well as lifestyle changes, such as stress management techniques and exercise, are critical for someone to make a full recovery.
        </p>
        <p class="text-center mt-5 text-lg">
          Here at FreeMind, we use a combination of great self-help therapy, which uses crucial CBT/ACT techniques and methods, 
          stress management techniques, personalized online support, and much more to ensure our members are on track to make a full recovery. 
          We do not offer ERP since it is recommended that ERP be done in person with a licensed professional. In order for ERP to work, 
          it must be done correctly. For individuals with more physical compulsions, it is advised to work with a therapist on top of 
          following up with self-help therapy. Working with a therapist can help speed up recovery or make the process smoother, 
          but it is possible to make a recovery without a therapist, although not advised.
        </p>
        <div class="mt-14 flex justify-center">
          <img loading="lazy" width="100" height="100" src="{% static 'images/exited_brain.jpeg' %}" alt="check">
        </div>
      </div>
    </div>
  </section>

  <!-- Why Blissful Balance section -->
  <section>
    <div class="flex justify-center border border-blue-500">
      <div class="order-1 lg:order-2 flex justify-center">
        <div class="bg-white dark:bg-cyan-900 w-[370px] md:w-[500px] xl:w-4/5 rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500">
          <header class="text-center font-extrabold text-4xl mt-1">Why <span class="text-purple-500">Blissful Balance</span>?</header>

          <div class="flex items-center">
            <p class="py-3 mt-5 text-center text-lg ml-3">
              I built this website with one intent, to provide affordable anxiety disorder recovery services. When I was at my lowest, 
              I was unable to pay my rent, let alone $300, for an anxiety recovery course. As FreeMind continues to expand, we will begin to offer additional discounts.
            </p>
          </div>

          <div class="flex items-center">
            <p class="py-3 mt-2 text-center text-lg ml-3">
              Before I built FreeMind, I helped several people recover and guided them through recovery. 
              After telling them that I was also a software engineer, they encouraged me to build a website with all the recovery techniques and information I gave them.
            </p>
          </div>

          <div class="flex items-center">
            <p class="py-3 mt-2 text-center text-lg ml-3">
              FreeMind is the anxiety disorder recovery website I needed two years ago. It is affordable and continues to grow daily! 
              FreeMind has several pages, links, audios, and much more to help you make a full recovery. (Videos coming soon)
            </p>
          </div>

          <div class="flex items-center">
            <p class="py-3 mt-2 text-center text-lg ml-3">
              New information is constantly added for support members. You will get the latest up-to-date anxiety disorder recovery 
              information (OCD and DPDR Recovery sections coming soon!). Join hundreds of others in recovery today!
            </p>
          </div>

          <p class="text-center font-extrabold text-lg mt-3">
            Register for FREE Today!
          </p>
          <div class="flex justify-around mt-3 md:justify-center md:gap-24">
            <a href="#">
              <button class="bg-gradient-to-r from-purple-500 to-blue-500 hover:text-white hover:bg-purple-600 rounded-full py-3 px-6 mt-4 font-medium text-white w-40 xl:w-48">More About Member Benefits</button>
            </a>
            <a href="#">
              <button class="bg-gradient-to-r from-purple-500 to-blue-500 hover:text-white hover:bg-purple-600 rounded-full py-3 px-6 mt-4 font-medium text-white w-40 xl:w-48">Start your recovery today!</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

