{% extends 'base.html' %}

{% block title %}Support Us Page{% endblock %}

{% block content %}
{% load static %}

<!-- Support Us Section -->
<section class="flex flex-row justify-center mt-16 mb-72">
    <!-- Left -->
    <!-- <div class="bg-white dark:bg-cyan-900 w-[370px] md:w-[500px] xl:w-[600px] rounded-3xl p-10 shadow-[30px_30px_10px_10px_#00000024] border border-purple-500"> -->
    <div class="flex flex-col items-center">
        <header class="text-center font-extrabold text-4xl mt-1 mb-5">Support <span class="text-purple-500">Blissful</span> Balance</header>
        <p class="w-1/2 text-center py-3 mt-5 text-lg">
            We're glad to hear that our resources have been helpful to you. At FreeMind, our mission is to provide insightful 
            and accessible content that helps individuals on their journey to anxiety recovery.
        </p>
        <p class="w-1/2 text-center py-3 mt-5 text-lg">
            However, like any organization, running FreeMind comes with its own costs. Hosting our website, 
            maintaining the quality of our resources, and ensuring that we can continue to offer new and updated content all require funding.
        </p>
        <p class="w-1/2 text-center py-3 mt-5 text-lg">
            We would greatly appreciate your support, which can be in the form of a small donation or through the 
            purchase of our merchandise (coming soon). Your contribution will directly support our operations, 
            ensuring that FreeMind remains a free, affordable, and accessible resource for all.
        </p>
        <p class="w-1/2 text-center py-3 mt-5 text-lg">
            Thank you for considering supporting FreeMind. Every donation, no matter the size, makes a difference.
        </p>
        <div class="mt-14 flex justify-center">
            <a href="#">
            <button class="bg-gradient-to-r from-purple-500 to-blue-500 hover:text-white hover:bg-purple-600 rounded-full py-3 px-6 mt-4 font-medium text-white w-40 xl:w-48">Donate</button>
            </a>
        </div>
    </div>
    <!-- </div> -->
</section>

{% endblock %}

